@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
.TitleComponent {
  position: fixed;
  top: 0;
  left: 0;
  $param: (flex flex) (alignItems center);
  @include flexSet($param);
  width: 100%;
  height: 126 / $unit * $symbol;
  padding: {
    top: 42 / $unit * $symbol;
    left: 30 / $unit * $symbol;
    right: 30 / $unit * $symbol;
  }
  border: {
    bottom: 1px solid #cbcbcb;
  }
  &-left, &-content, &-right {
    @include vertical_center();
    width: 33.3%;
    height: 100%;
  }
  &-left {
    $param: (flex flex) (justifyContent flex-start);
    @include flexSet($param);
    .left-content {
      @include vertical_center();
      i {
        font-size: 39 / $unit * $symbol;
        color: #333333;
      }
      span {
        padding: {
          left: 6 / $unit * $symbol;
        }
        font-size: 30 / $unit * $symbol;
        color: #333333;
      }
    }
  }
  &-content {
    @include horizontal_center();
    font-size: 36 / $unit * $symbol;
      color: #333333;
  }
  &-right {
    $param: (flex flex) (justifyContent flex-end);
    @include flexSet($param);
    .right-content {
      @include vertical_center();
      i {
        font-size: 39 / $unit * $symbol;
        color: #333333;
      }
      .icon {
        width: 39 / $unit * $symbol;
        height: 39 / $unit * $symbol;
      }
    }
  }
}