// include module
@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
// current sass
.index {
  width: 100vw;
  height: 100vh;
  padding: {
    bottom: 99 / $unit * $symbol;
  }
  background-color: #f4f5f6;
  overflow-y: auto;
  &-header {
    position: relative;
    width: 100%;
    height: 405 / $unit * $symbol;
    .swiper-container {
      width: 100%;
      height: 100%;
      .swiper-slide {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .swiper-pagination {
        .swiper-pagination-bullet, .swiper-pagination-bullet-active {
          color: #000;
        }
      }
    }
    .header-list {
      position: absolute;
      top: 54 / $unit * $symbol;
      left: 0;
      z-index: 9;
      $param: (flex flex) (alignItems center) (justifyContent space-around);
      @include flexSet($param);
      width: 100%;
      .swiper {
        width: 100%;
        height: 100%;
      }
      .list-search {
        @include vertical_center();
        width: 540 / $unit * $symbol;
        height: 60 / $unit * $symbol;
        background-color:rgba($color: #fff, $alpha: 0.3);
        border-radius: 30 / $unit * $symbol;
        input {
          flex-grow: 1;
          height: 100%;
          padding: {
            left: 12 / $unit * $symbol;
          }
          font-size: 24 / $unit * $symbol;
          color: #fff;
          background-color: transparent;
          &::-webkit-input-placeholder {
            font-size: 24 / $unit * $symbol;
            color: #fff;
          }
        }
      }
      .list-item {
        @include vertical_direction();
        @include vertical_center();
        height: 100%;
        i:first-of-type {
          font-size: 33 / $unit * $symbol;
          color: #fff;
        }
        p {
          font-size: 18 / $unit * $symbol;
          color: #fff;
        }
      }
    }
  }
  &-nav {
    $param: (flex flex) (flexWrap wrap);
    @include flexSet($param);
    width: 100%;
    background-color: #fff;
    .nav-item {
      @include vertical_direction();
      @include center();
      width: 25%;
      height: 156 / $unit * $symbol;
      i {
        font-size: 45 / $unit * $symbol;
      }
      .icon-zhaochujieren, .icon-woyaotousu {
        color: #4d7bfe;
      }
      .icon-daikuanchaoshi, .icon-cuishoubaozhang {
        color: #29ab91;
      }
      .icon-jietiaozhongxin, .icon-zaixiankefu {
        color: #f15a4a;
      }
      .icon-shixinchaxun, .icon-zhongcaijindu {
        color: #4e8cee;
      }
      p {
        @include center();
        height: 63 / $unit * $symbol;
        font-size: 27 / $unit * $symbol;
        color: #333333;
      }
    }
  }
  &-message {
    @include vertical_center();
    width: 100%;
    height: 78 / $unit * $symbol;
    padding: {
      left: 21 / $unit * $symbol;
      right: 21 / $unit * $symbol;
    }
    border: {
      top: 2px solid #f6f6f6;
    }
    background-color: #fff;
    .message-left {
      width: 123 / $unit * $symbol;
      height: 30 / $unit * $symbol;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .message-right {
      flex: 1;
      height: 100%;
      padding: {
        left: 21 / $unit * $symbol;
      }
      .broad {
        width: 100%;
        height: 100%;
        p {
          @include vertical_center();
          width: 100%;
          height: 100%;
          font-size: 24 / $unit * $symbol;
          color: #222222;
        }
      }
    }
  }
  &-activity {
    width: 100%;
    padding: {
      top: 18 / $unit * $symbol;
      bottom: 18 / $unit * $symbol;
    }
    .activity-find {
      @include vertical_center();
      width: 100%;
      height: 222 / $unit * $symbol;
      margin: {
        bottom: 18 / $unit * $symbol;
      }
      padding: {
        left: 21 / $unit * $symbol;
        right: 21 / $unit * $symbol;
      }
      background-color: #fff;
      img {
        width: 100%;
        height: 180 / $unit * $symbol;
      }
    }
    .activity-invite {
      @include vertical_center();
      width: 100%;
      height: 160 / $unit * $symbol;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
