@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';

.tip {
  @include vertical_center();
  width: 100%;
  height: 100%;
  i {
    font-size: 33 / $unit * $symbol;
    margin: {
      right: 15 / $unit * $symbol;
    }
  }
  svg {
    width: 51 / $unit * $symbol;
    height: 51 / $unit * $symbol;
  }
  &-content {
    font-size: 30 / $unit * $symbol;
    color: #666666;
  }
  &-protocol {
    font-size: 30 / $unit * $symbol;
    color: #4d7bfe;
  }
  .selected {
    color: #4d7bfe;
  }
}
.tip-center {
  @include center();
}

.tip-theme-blue {
  color: #4d7bfe;
}

.tip-theme-red {
  color: #F86754;
}