// include module
@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
// current sass
.complain-object {
  width: 100vw;
  height: 100vh;
  padding: {
    top: (21 + 126) / $unit * $symbol;
  }
  .object-content {
    width: 100%;
    overflow: auto;
    .content-item {
      @include vertical_center();
      width: 100%;
      height: 120 / $unit * $symbol;
      .item-portrait {
        width: 87 / $unit * $symbol;
        height: 87 / $unit * $symbol;
        border-radius: 6 / $unit * $symbol;
        img {
          width: 100%;
          height: 100%;
          border-radius: 6 / $unit * $symbol;
        }
      }
      .item-detail {
        flex: 1;
        padding: {
          left: 21 / $unit * $symbol;
        }
        p:first-of-type {
          padding: {
            bottom: 9 / $unit * $symbol;
          }
        }
      }
    }
    .content-item:last-of-type {
      border: none;
    }
  }
}