// include module
@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
// current sass
.iou-detail {
  @include vertical_direction_center();
  width: 100%;
  min-height: 100vw;
  padding: {
    bottom: 114 / $unit * $symbol;
  }
  .detail-hint {
    padding: {
      left: 21 / $unit * $symbol;
    }
    width: 100%;
    .hint-user {
      $param: (flex flex) (alignItems center) (justifyContent flex-start);
      @include flexSet($param);
      width: 100%;
      height: 132 / $unit * $symbol;
      padding: {
        right: 30 / $unit * $symbol;
      }
      .user-img {
        width: 81 / $unit * $symbol;
        height: 81 / $unit * $symbol;
        img {
          width: 100%;
          width: 100%;
        }
      }
      .user-info {
        flex-grow: 1;
        padding: {
          left: 24 / $unit * $symbol;
        }
        .info-loan {
          @include vertical_center();
          height: 42 / $unit * $symbol;
          span:first-of-type {
            display: inline-block;
            height: 30 / $unit * $symbol;
            width: 6 / $unit * $symbol;
            margin: {
              right: 12 / $unit * $symbol;
            }
            background-color: #4d7bfe;
          }
        }
        .info-sign {
          i {
            margin: {
              left: 12 / $unit * $symbol;
            }
          }
        }
      }
      .user-tip {
        @include vertical_center();
        .icon {
          width: 30 / $unit * $symbol;
          height: 30 / $unit * $symbol;
          margin: {
            right: 12 / $unit * $symbol;
          }
        }
      }
    }
    .hint-repayment {
      @include vertical_center();
      width: 100%;
      height: 96 / $unit * $symbol;
    }
  }
  .detail-loan {
    width: 100%;
    margin: {
      top: 12 / $unit * $symbol;
    }
    .loan-title {
      @include vertical_center();
      width: 100%;
      height: 90 / $unit * $symbol;
      .icon {
        width: 33 / $unit * $symbol;
        height: 33 / $unit * $symbol;
      }
      p {
        font-weight: 700;
        padding: {
          left: 18 / $unit * $symbol;
        }
      }
    }
    .loan-list {
      height: 318 / $unit * $symbol;
    }
  }
  .detail-dept, .detail-law {
    width: 100%;
    margin: {
      top: 12 / $unit * $symbol;
    }
    .loan-title, .law-title {
      @include vertical_center_horizontal_between();
      width: 100%;
      height: 90 / $unit * $symbol;
      .title-left {
        @include vertical_center();
        height: 90 / $unit * $symbol;
        .icon {
          width: 33 / $unit * $symbol;
          height: 33 / $unit * $symbol;
        }
        p {
          font-weight: 700;
          padding: {
            left: 18 / $unit * $symbol;
          }
        }
      }
      .button {
        width: 132 / $unit * $symbol;
        height: 51 / $unit * $symbol;
        background-color: #4d7bfe;
        border-radius: 6 / $unit * $symbol;
      }
    }
    .dept-content,.law-content {
      width: 100%;
      height: 141 / $unit * $symbol;
      padding: {
        top: 33 / $unit * $symbol;
      }
      p {
        line-height: 42 / $unit * $symbol;
      }
    }
  }
  .detail-button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    @include vertical_center_horizontal_between();
    width: 100%;
    height: 99 / $unit * $symbol;
    .button {
      flex-grow: 1;
      height: 100%;
    }
  }
}