// include module
@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
// current sass
.nav {
  @include vertical_center_horizontal_between();
  width: 100%;
  .nav-item {
    @include center();
    flex-grow: 1;
    height: 100%;
  }
}