// include module
@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
// current sass
.modefy-pay-password {
  position: relative;
  width: 100%;
  .password-tip {
    width: 100%;
    margin: {
      top: 219 / $unit * $symbol;
    }
  }
  .password-input {
    width: 100%;
    margin: {
      top: 39 / $unit * $symbol;
    }
  }
  .password-btn {
    width: 100%;
    margin: {
      top: 99 / $unit * $symbol;
    }
  }
}