@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';

.button {
  @include vertical_direction_between();
  width: 100%;
  height: 100%;
  button {
    width: 100%;
    height: 99 / $unit * $symbol;
    font-size: 36 / $unit * $symbol;
    border-radius: 9 / $unit * $symbol;
    .button-content {
      @include center();
      width: 100%;
      height: 100%;
    }
  }
  .primary {
    color: #fff;
    background: #4d7bfe;
  }
  .full {
    color: #4d7bfe;
    background: #fff;
  }
  .default {
    color: #4d7bfe;
    border: 1px solid #4d7bfe;
    background: #fff;
  }
  .button-group {
    @include horizontal_between();
    width: 100%;
    height: 99 / $unit * $symbol;
    .group-interval {
      width: 30 / $unit * $symbol;
      height: 100%;
    }
    button {
      flex-grow: 1;
    }
    .primary {
      color: #fff;
      background: #4d7bfe;
    }
    .default {
      color: #4d7bfe;
      background: #fff;
      border: 1px solid #4d7bfe;
    }
    .danger {
      color: #fff;
      background: #F54949;
    }
  }
}