@import './_flex.scss';
@import './_unit.scss';

button {
  div {
    $param: (flex flex) (alignItems center) (justifyContent center);
    @include flexSet($param);
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}

.padding-horizontal-30 {
  padding: {
    left: 30 / $unit * $symbol;
    right: 30 / $unit * $symbol;
  }
}

.margin-bottom-21 {
  margin: {
    bottom: 21 / $unit * $symbol;
  }
}
