@import './_flex.scss';
@import './_unit.scss';

button {
  div {
    $param: (flex flex) (alignItems center) (justifyContent center);
    @include flexSet($param);
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}

.fl {
  float: left;
}
.fr {
  float: right;
}

.padding-horizontal-21 {
  padding: {
    left: 21 / $unit * $symbol;
    right: 21 / $unit * $symbol;
  }
}

.padding-horizontal-30 {
  padding: {
    left: 30 / $unit * $symbol;
    right: 30 / $unit * $symbol;
  }
}

.padding-horizontal-24 {
  padding: {
    left: 24 / $unit * $symbol;
    right: 24 / $unit * $symbol;
  }
}

.padding-vertical-15 {
  padding: {
    top: 15 / $unit * $symbol;
    bottom: 15 / $unit * $symbol;
  }
}

.padding-top-126 {
  padding: {
    top: 126 / $unit * $symbol;
  }
}

.padding-top-21 {
  padding: {
    top: 21 / $unit * $symbol;
  }
}

.padding-bottom-39 {
  padding: {
    bottom: 39 / $unit * $symbol;
  }
}

.padding-left-21 {
  padding: {
    left: 21 / $unit * $symbol;
  }
}

.padding-left-30 {
  padding: {
    left: 30 / $unit * $symbol;
  }
}

.padding-right-30 {
  padding: {
    right: 30 / $unit * $symbol;
  }
}

.margin-bottom-21 {
  margin: {
    bottom: 21 / $unit * $symbol;
  }
}

.margin-top-30 {
  margin: {
    top: 30 / $unit * $symbol;
  }
}

.margin-top-21 {
  margin: {
    top: 21 / $unit * $symbol;
  }
}

.margin-right-15 {
  margin: {
    right: 15 / $unit * $symbol;
  }
}

.margin-right-12 {
  margin: {
    right: 12 / $unit * $symbol;
  }
}

.margin-right-24 {
  margin: {
    right: 24 / $unit * $symbol;
  }
}

.font-72 {
  font-size: 72 / $unit * $symbol;
}

.font-69 {
  font-size: 69 / $unit * $symbol;
}

.font-60 {
  font-size: 60 / $unit * $symbol;
}

.font-57 {
  font-size: 57 / $unit * $symbol;
}

.font-54 {
  font-size: 54 / $unit * $symbol;
}

.font-51 {
  font-size: 51 / $unit * $symbol;
}

.font-48 {
  font-size: 48 / $unit * $symbol;
}

.font-39 {
  font-size: 39 / $unit * $symbol;
}

.font-36 {
  font-size: 36 / $unit * $symbol;
}

.font-33 {
  font-size: 33 / $unit * $symbol;
}

.font-30 {
  font-size: 30 / $unit * $symbol;
}

.font-27 {
  font-size: 27 / $unit * $symbol;
}

.font-24 {
  font-size: 24 / $unit * $symbol;
}

.font-21 {
  font-size: 21 / $unit * $symbol;
}

.font-18 {
  font-size: 18 / $unit * $symbol;
}

.color-deep-black {
  color: #000;
}

.color-black {
  color: #333;
}

.color-light-black {
  color: #666;
}

.color-white {
  color: #fff;
}

.color-green {
  color: #1ecc6e;
}

.color-grey {
  color: #c7c7cc;
}

.color-light-grey {
  color: #999999;
}

.color-deep-grey {
  color: #666666;
}

.color-blue {
  color: #4d7bfe;
}

.color-red {
  color: #f76754;
}

.bg-white {
  background-color: #fff;
}

.bg-blue {
  background-color: #4d7bfe;
}

.bg-grey {
  background-color: #bdbdbd;
}

.border-circle {
  border-radius: 50%;
}

.border-radius-12 {
  border-radius: 12 / $unit * $symbol;
}

.border-radius-top-12 {
  border-top-left-radius: 12 / $unit * $symbol;
  border-top-right-radius: 12 / $unit * $symbol;
}

.border-radius-bottom-12 {
  border-bottom-left-radius: 12 / $unit * $symbol;
  border-bottom-right-radius: 12 / $unit * $symbol;
}

.border-bottom-1 {
  border: {
    bottom: 1px solid #dddddd;
  }
}
