// include module
@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
// current sass
.mine {
  @include vertical_direction();
  width: 100%;
  height: 100vh;
  padding: {
    bottom: 99 / $unit * $symbol;
  }
  overflow: auto;
  &-information {
    position: relative;
    width: 100%;
    height: 231 / $unit * $symbol;
    padding: {
      top: 99 / $unit * $symbol;
    }
    background-color: #fff;
    .information-detail {
      @include vertical_center_horizontal_between();
      width: 100%;
      height: 100%;
      padding: {
        top: 15 / $unit * $symbol;
        right: 15 / $unit * $symbol;
      }
      .detail-portrait {
        width: 102 / $unit * $symbol;
        height: 102 / $unit * $symbol;
      }
      .detail-content {
        @include vertical_direction_around();
        flex-grow: 1;
        height: 100%;
        padding: {
          left: 21 / $unit * $symbol;
        }
      }
    }
    .information-operation {
      position: absolute;
      right: 30 / $unit * $symbol;
      top: 99 / $unit * $symbol;
      z-index: 99;
      @include vertical_center_horizontal_between();
      width: 240 / $unit * $symbol;
      height: 36 / $unit * $symbol;
      .operation-item {
        @include vertical_center_horizontal_between();
        height: 100%;
      }
    }
  }
  &-balance {
    @include vertical_direction_between();
    width: 100%;
    height: 342 / $unit * $symbol;
    padding: {
      top: 21 / $unit * $symbol;
      bottom: 30 / $unit * $symbol;
    }
    background-color: #fff;
    .balance-count {
      @include vertical_center_horizontal_between();
      width: 100%;
      height: 90 / $unit * $symbol;
      .count-content {
        @include vertical_center();
        width: 100%;
        height: 100%;
      }
    }

    .balance-detail {
      @include horizontal_between();
      width: 100%;
      height: 186 / $unit * $symbol;
      .detail-item {
        position: relative;
        width: 315 / $unit * $symbol;
        height: 100%;
        .itme-bg {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          z-index: 0;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .item-content {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          z-index: 9;
          @include vertical_direction_between();
          width: 100%;
          height: 100%;
          padding: {
            top: 45 / $unit * $symbol;
            bottom: 45 / $unit * $symbol;
            left: 45 / $unit * $symbol;
          }
        }
      }
    }
  }
  &-billboard-list {
    width: 100%;
    flex-grow: 1;
    .list-item {
      width: 100%;
      height: 102 / $unit * $symbol;
    }
  }
}
