// include module
@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
// current sass
.forget-password {
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  padding: {
    top: 147 / $unit * $symbol;
    left: 21 / $unit * $symbol;
    right: 21 / $unit * $symbol;
  }
  .password-form {
    width: 100%;
    padding: {
      left: 27 / $unit * $symbol;
      right: 27 / $unit * $symbol;
    }
    background-color: #fff;
    border-radius: 6 / $unit * $symbol;
    .form-item {
      @include vertical_center_horizontal_between();
      width: 100%;
      height: 99 / $unit * $symbol;
      padding: {
        left: 9 / $unit * $symbol;
        right: 9 / $unit * $symbol;
      }
      border: {
        bottom: 1px solid #dddddd;
      }
      input {
        flex: 1;
        height: 100%;
        font-size: 30 / $unit * $symbol;
        color: #000000;
      }
      button {
        @include center();
        width: 156 / $unit * $symbol;
        height: 100%;
      }
      input::-webkit-input-placeholder {
        font-size: 30 / $unit * $symbol;
        color: #bebebe;
      }
    }
    .form-item:last-of-type {
      border: none;
    }
  }
  .password-button {
    @include center();
    padding: {
      top: 102 / $unit * $symbol;
    }
    font-size: 27 / $unit * $symbol;
    color: #b6b6b6;
  }
}
