// include module
@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
// current sass
.publish-object {
  @include vertical_direction();
  width: 100vw;
  height: 100vh;
  .object-select {
    width: 100%;
    .select-item {
      @include vertical_center();
      width: 100%;
      height: 99 / $unit * $symbol;
      .item-svg {
        width: 51 / $unit * $symbol;
        height: 51 / $unit * $symbol;
        .icon {
          width: 100%;
          height: 100%;
        }
      }
      .item-detail {
        flex: 1;
        @include vertical_center_horizontal_between();
        padding: {
          left: 21 / $unit * $symbol;
        }
      }
    }
  }
  .object-title {
    @include vertical_center();
    width: 100%;
    height: 87 / $unit * $symbol;
    padding: {
      left: 15 / $unit * $symbol;
    }
  }
  .object-friend {
    flex: 1;
    width: 100%;
    overflow: auto;
    .friend-item {
      @include vertical_center();
      width: 100%;
      height: 120 / $unit * $symbol;
      .item-portrait {
        width: 87 / $unit * $symbol;
        height: 87 / $unit * $symbol;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .item-detail {
        @include vertical_center_horizontal_between();
        flex: 1;
        .detail-title {
          flex: 1;
          p:first-of-type {
            padding: {
              bottom: 9 / $unit * $symbol;
            }
          }
        }
      }
    }
  }
}