@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
.title {
  position: fixed;
  top: 0;
  left: 0;
  @include vertical_center();
  width: 100%;
  height: 126 / $unit * $symbol;
  padding: {
    top: 42 / $unit * $symbol;
    left: 30 / $unit * $symbol;
    right: 30 / $unit * $symbol;
  }
  border: {
    bottom: 1px solid #cbcbcb;
  }
  background-color: #fff;
  &-content {
    @include center();
    width: 100%;
    height: 100%;
  }
  &-left, &-right {
    position: absolute;
    top: 0;
    z-index: 99;
  }
  &-left {
    left: 0;
    left: 30 / $unit * $symbol;
    @include horizontal_center();
    height: 100%;
    .left-content {
      @include vertical_center();
      height: 100%;
      padding: {
        top: 42 / $unit * $symbol;
      }
      i {
        font-size: 39 / $unit * $symbol;
        color: #333333;
      }
      span {
        padding: {
          left: 6 / $unit * $symbol;
        }
        font-size: 30 / $unit * $symbol;
        color: #333333;
      }
    }
  }
  &-content {
    @include horizontal_center();
    font-size: 36 / $unit * $symbol;
    color: #333333;
  }
  &-right {
    right: 0;
    @include horizontal_center();
    height: 100%;
    .right-content {
      @include vertical_center();
      i {
        font-size: 39 / $unit * $symbol;
        color: #333333;
      }
      .icon {
        width: 39 / $unit * $symbol;
        height: 39 / $unit * $symbol;
      }
    }
  }
}