// include module
@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
// current sass
.open-picture {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 80%;
  transform: translateX(-50%) translateY(-30%);
  // height: 252 / $unit * $symbol;
  .picture-title {
    @include vertical_center();
    width: 100%;
    height: 120 / $unit * $symbol;
    border: {
      bottom: 2px solid #3ea2ff;
    }
    font-size: 27 / $unit * $symbol;
    font-weight: bold;
    color: #3ea2ff;
  }
  .picture-switch {
    @include vertical_center();
    width: 100%;
    height: 99 / $unit * $symbol;
    font-size: 30 / $unit * $symbol;
    color: #333;
  }
}