// include module
@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
// current sass
.friends {
  width: 100vw;
  height: 100vh;
  &-search {
    @include vertical_center();
    width: 100%;
    height: 120 / $unit * $symbol;
    .search-content {
      @include center();
      width: 100%;
      height: 72 / $unit * $symbol;
      background-color: #fff;
      border-radius: 6 / $unit * $symbol;
      color: #555555;
      i {
        margin: {
          right: 9 / $unit * $symbol;
        }
      }
    }
  }
  &-new {
    @include vertical_center();
    width: 100%;
    height: 120 / $unit * $symbol;
    .icon {
      width: 81 / $unit * $symbol;
      height: 81 / $unit * $symbol;
    }
    p {
      padding: {
        left: 18 / $unit * $symbol;
      }
    }
  }
  &-list {
    width: 100%;
    margin: {
      top: 18 / $unit * $symbol;
    }
    overflow: auto;
    .list-item {
      @include vertical_center();
      width: 100%;
      height: 120 / $unit * $symbol;
      .item-portrait {
        width: 87 / $unit * $symbol;
        height: 87 / $unit * $symbol;
        border-radius: 6 / $unit * $symbol;
        img {
          width: 100%;
          height: 100%;
          border-radius: 6 / $unit * $symbol;
        }
      }
      .item-detail {
        flex: 1;
        padding: {
          left: 21 / $unit * $symbol;
        }
        p:first-of-type {
          padding: {
            bottom: 9 / $unit * $symbol;
          }
          .icon {
            width: 30 / $unit * $symbol;
            height: 30 / $unit * $symbol;
            margin: {
              left: 9 / $unit * $symbol;
            }
          }
        }
      }
    }
    .list-item:last-of-type {
      border: none;
    }
  }
}