// include module
@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
// current sass
.find-lender {
  width: 100%;
  height: 100vh;
  .lender {
    width: 100%;
    width: 100%;
    height: 180 / $unit * $symbol;
    padding: {
      left: 30 / $unit * $symbol;
      top: 15 / $unit * $symbol;
    }
    .lender-content {
      @include vertical_center_horizontal_between();
      height: 120 / $unit * $symbol;
      .content-sign {
        width: 99 / $unit * $symbol;
        height: 99 / $unit * $symbol;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .content-message {
        @include vertical_direction_between();
        flex-grow: 1;
        height: 100%;
        padding: {
          top: 21 / $unit * $symbol;
          bottom: 21 / $unit * $symbol;
        }
        div {
          width: 100%;
        }
        .content-title {
          @include vertical_center_horizontal_between();
        }
      }
    }
    .lender-tip {
      @include vertical_center();
      width: 100%;
      height: 45 / $unit * $symbol;
    }
  }
}