@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
.detail-list {
  @include vertical_direction();
  width: 100%;
  height: 100%;
  .list-item {
    flex-grow: 1;
    width: 100%;
    .item-title {
      @include vertical_center();
      width: 100%;
      height: 48 / $unit * $symbol;
    }
    .item-default {
      @include vertical_center_horizontal_between();
      flex-grow: 1;
      width: 100%;
    }
    .item-double {
      @include vertical_center_horizontal_between();
      height: 120 / $unit * $symbol;
      width: 100%;
      .item-content {
        @include vertical_direction();
        flex-grow: 1;
        height: 100%;
        padding: {
          top: 21 / $unit * $symbol;
          bottom: 21 / $unit * $symbol;
          right: 15 / $unit * $symbol;
        }
        .content-tip {
          @include vertical_center_horizontal_between();
          flex-grow: 1;
          width: 100%;
        }
      }
      .item-icon {
        @include vertical_center();
        width: 60 / $unit * $symbol;
        height: 100%;
        padding: {
          right: 30 / $unit * $symbol;
        }
      }
    }
    .item-total {
      @include vertical_center_horizontal_between();
      width: 100%;
      height: 102 / $unit * $symbol;
      padding: {
        left: 36 / $unit * $symbol;
        right: 36 / $unit * $symbol;
      }
      background-color: #f5f5f5;
      .total-content {
        @include vertical_direction_between();
        flex-grow: 1;
        height: 100%;
        padding: {
          top: 15 / $unit * $symbol;
          bottom: 15 / $unit * $symbol;
        }
        .content-balance {
          @include vertical_center();
        }
      }
    } 
  }
  .list-item:last-child .item-content,
  .list-item:last-child .item-icon {
    border: none !important;
  }
}