// include module
@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
// current sass
.call {
  position: fixed;
  left: 50%;
  bottom: 42 / $unit * $symbol;
  z-index: 1000;
  width: 86%;
  transform: translateX(-50%);
  .call-video, .call-voice, .call-cancel {
    @include center();
    width: 100%;
    height: 99 / $unit * $symbol;
    span {
      margin: {
        left: 18 / $unit * $symbol;
      }
    }
  }
  .call-video {
    border-top-left-radius: 15 / $unit * $symbol;
    border-top-right-radius: 15 / $unit * $symbol;
  }
  .call-voice {
    border-bottom-left-radius: 15 / $unit * $symbol;
    border-bottom-right-radius: 15 / $unit * $symbol;
  }
  .call-cancel {
    margin: {
      top: 27 / $unit * $symbol;
    }
    border-radius: 15 / $unit * $symbol;
  }
}