// include module
@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
// current sass
.set-pay-password {
  width: 100%;
  padding: {
    top: 126 / $unit * $symbol;
  }
  .password-tip {
    width: 100%;
    margin: {
      top: 219 / $unit * $symbol;
    }
  }
  .password-pay-password {
    width: 100%;
    margin: {
      top: 39 / $unit * $symbol;
    }
  }
  .password-btn {
    width: 100%;
    margin: {
      top: 99 / $unit * $symbol;
    }
  }
}