@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
.inputs {
  @include vertical_center();
  width: 100%;
  height: 100%;
  background-color: #fff;
  .left {
    @include vertical_center();
    height: 100%;
    width: 20%;
    .left-icon {
      margin: {
        right: 21 / $unit * $symbol;
      }
      font-size: 12 / $unit * $symbol;
      color: #4d7bfe;
    }
    .leftText {
      font-size: 30 / $unit * $symbol;
      color: #333333;
    }
  }
  .right {
    @include vertical_center();
    flex: 1;
    height: 100%;
    .right-center {
      @include vertical_center();
      height: 100%;
      font-size: 30 / $unit * $symbol;
      color: #333333;
    }
    .right-input {
      flex: 1;
      height: 100%;
      font-size: 30 / $unit * $symbol;
      color: #333333;
      background-color: transparent;
    }
    input::-webkit-input-placeholder {
      font-size: 30 / $unit * $symbol;
      color: #999999;
    }
    .right-icon {
      margin: {
        left: 15 / $unit * $symbol;
      }
      font-size: 30 / $unit * $symbol;
      color: #bfbfbf;
    }
    .right-text {
      @include vertical_center();
      height: 100%;
      margin: {
        left: 15 / $unit * $symbol;
      }
      font-size: 30 / $unit * $symbol;
      color: #333333;
    }
    .right-switch {
      @include vertical_center();
      $param: (flex flex)  (justifyContent flex-start);
      @include flexSet($param);
      width: 102 / $unit * $symbol;
      height: 62 / $unit * $symbol;
      padding: {
        left: 3 / $unit * $symbol;
        right: 3 / $unit * $symbol;
      }
      background: #666;
      border-radius: 30 / $unit * $symbol;
      .switch-btn {
        width: 56 / $unit * $symbol;
        height: 56 / $unit * $symbol;
        background: #fff;
        border-radius: 50%;
      }
    }
    div.switch-active {
      $param: (flex flex)  (justifyContent flex-end);
      @include flexSet($param);
      background-color: #4d7bfe;
    }
  }
}
.default {
  .left {
    width: 0;
  }
}
.center {
  .left {
    width: 0;
  }
  .right-input {
    text-align: center;
  }
}
.icon {
  .left {
    width: auto;
    .left-icon {
      margin: {
        right: 18 / $unit * $symbol;
      }
      font-size: 30 / $unit * $symbol;
      color: #999;
    }
  }
}
.text {

}
.text-icon {
  .left {
    width: 30%;
  }
}
.switch {
  .left {
    width: 30%;
  }
  .right {
    $param: (flex flex)  (justifyContent flex-end);
    @include flexSet($param);
    .right-input {
      display: none;
    }
  }
}
.slide {
  .left {
    width: 30%;
    .leftText {
      font-size: 27 / $unit * $symbol;
      color: #333333;
    }
  }
  .right {
    $param: (flex flex)  (justifyContent flex-end);
    @include flexSet($param);
    .right-input {
      flex: 1;
      text-align: right;
    }
  }
}
