// include module
@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
// current sass
.withdraw {
  width: 100vw;
  height: 100vh;
  padding: {
    top: (126 + 30) / $unit * $symbol;
  }
  .withdraw-content {
    width: 100%;
    .content-title {
      @include vertical_center();
      width: 100%;
      height: 99 / $unit * $symbol;
    }
    .content-input {
      @include vertical_center();
      width: 100%;
      height: 129 / $unit * $symbol;
      padding: {
        top: 30 / $unit * $symbol;
      }
      input {
        height: 99 / $unit * $symbol;
        padding: {
          left: 21 / $unit * $symbol;
        }
        font-size: 30 / $unit * $symbol;
        color: #666;
      }
    }
    .content-introduce {
      @include vertical_center();
      width: 100%;
      height: 99 / $unit * $symbol;
    }
    .content-tip {
      @include vertical_center();
      width: 100%;
      height: 99 / $unit * $symbol;
    }
  }
  &-button {
    width: 100%;
    padding: {
      top: 81 / $unit * $symbol;
    }
  }
}