// include module
@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
// current sass
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1500;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
  }
}