@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';

.ButtonComponent {
  width: 100%;
  height: auto;
  background: #ffffff;
  button {
    @include center();
  }
  &-default {
    width: 100%;
    height: 100 / $unit * $symbol;
    font-size: 36 / $unit * $symbol;
    color: #fff;
    background: #4d7bfe;
    border-radius: 9 / $unit * $symbol;
  }
  &-full {
    width: 100%;
    height: 100 / $unit * $symbol;
    font-size: 33 / $unit * $symbol;
    color: #4d7bfe;
    background: #fff;
  }
  &-default-inverse {
    width: 100%;
    height: 100 / $unit * $symbol;
    font-size: 36 / $unit * $symbol;
    color: #4d7bfe;
    border: 1px solid #4d7bfe;
    background: #fff;
    border-radius: 9 / $unit * $symbol;
  }
  &-group {
    width: 100%;
    @include vertical_center_horizontal_between();
    button {
      width: 330 / $unit * $symbol;
      height: 88 / $unit * $symbol;
      font-size: 33 / $unit * $symbol;
      border-radius: 9 / $unit * $symbol;
    }
    .group-left {
      color: #fff;
      background: #4d7bfe;
    }
    .group-right {
      color: #4d7bfe;
      background: #fff;
      border: 1px solid #4d7bfe;
    }
  }
}