// include module
@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
// current sass
.news {
  width: 100%;
  min-height: 100vh;
  padding: {
    top: 126 / $unit * $symbol;
  }
  &-tip {
    width: 100%;
    height: 141 / $unit * $symbol;
    .tip-content {
      @include vertical_center_horizontal_between();
      width: 100%;
      height: 100%;
      .content-sign {
        position: relative;
        @include center();
        width: 99 / $unit * $symbol;
        height: 99 / $unit * $symbol;
        .sign-badge {
          position: absolute;
          right: -18 / $unit * $symbol;
          top: -18 / $unit * $symbol;
          z-index: 100;
          @include center();
          width: 36 / $unit * $symbol;
          height: 36 / $unit * $symbol;
          background-color: #f54949;
        }
      }
      .active-sign {
        background-color: #fb6b51;
      }
      .system-sign {
        background-color: #5591fa;
      }
      .content-message {
        @include vertical_direction_between();
        flex-grow: 1;
        height: 100%;
        padding: {
          top: 21 / $unit * $symbol;
          bottom: 21 / $unit * $symbol;
        }
        div {
          width: 100%;
        }
        .content-title {
          @include vertical_center_horizontal_between();
        }
      }
    }
  }
}