// include module
@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
// current sass
.complain {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  &-title {
    @include vertical_center();
    width: 100%;
    height: 81 / $unit * $symbol;
    padding: {
      left: 30 / $unit * $symbol;
      right: 30 / $unit * $symbol;
    }
    font-size: 30 / $unit * $symbol;
    color: #333333;
  }
  &-option {
    $param: (flex flex) (flexWrap wrap) (justifyContent space-between);
    @include flexSet($param);
    width: 100%;
    padding: {
      top: 21 / $unit * $symbol;
    }
    .option-item {
      @include center();
      height: 69 / $unit * $symbol;
      width: 160 / $unit * $symbol;
      background-color: #ccc;
      color: #fff;
      margin: {
        bottom: 21 / $unit * $symbol;
      }
      font-size: 27 / $unit * $symbol;
      border-radius: 4px;
    }
    .active {
      color: #fff;
      border: 1px solid #4d7bfe;
      background-color: #4d7bfe;
    }
  }
  &-detail {
    width: 100%;
    background-color: #fff;
    padding: {
      top: 9 / $unit * $symbol;
    }
    textarea {
      width: 100%;
      height: 300 / $unit * $symbol;
      padding: {
        left: 30 / $unit * $symbol;
        right: 30 / $unit * $symbol;
      }
      font-size: 27 / $unit * $symbol;
      color: #333;
    }
    textarea::-webkit-textarea-placeholder {
      font-size: 24 / $unit * $symbol;
      color: #999;
      line-height: 36 / $unit * $symbol;
    }
    .detail-num {
      @include vertical_center();
      $param: (flex flex) (justifyContent flex-end);
      @include flexSet($param);
      width: 100%;
      height: 57 / $unit * $symbol;
      font-size: 27 / $unit * $symbol;
      color: #6f6f6f;
      border: {
        bottom: 1px solid #e1e1e1;
      }
    }
  }
  &-upload {
    width: 100%;
    .upload-photo {
      $param: (flex flex) (justifyContent flex-start) (flexWrap wrap);
      @include flexSet($param);
      width: 100%;
      padding: {
        top: 36 / $unit * $symbol;
        bottom: 18 / $unit * $symbol;
      }
      .photo-add {
        @include center();
        width: 147 / $unit * $symbol;
        height: 147 / $unit * $symbol;
        margin: {
          bottom: 15 / $unit * $symbol;
        }
        border-radius: 9 / $unit * $symbol;
        i {
          font-size: 78 / $unit * $symbol;
          color: #bbbbbb;
        }
      }
      .photo-default {
        width: 147 / $unit * $symbol;
        height: 147 / $unit * $symbol;
        margin: {
          left: 9 / $unit * $symbol;
          right: 9 / $unit * $symbol;
          bottom: 15 / $unit * $symbol;
        }
        border-radius: 15 / $unit * $symbol;
        img {
          width: 100%;
          height: 100%;
          border-radius: 9 / $unit * $symbol;
        }
      }
    }
    .upload-suggest {
      @include vertical_center();
      width: 100%;
      height: 81 / $unit * $symbol;
    }
  }
  &-select {
    @include vertical_center_horizontal_between();
    width: 100%;
    height: 81 / $unit * $symbol;
  }
  &-button {
    padding: {
      top: 81 / $unit * $symbol;
    }
  }
}