// include module
@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
// current sass
.message {
  @include vertical_direction();
  width: 100vw;
  height: 100vh;
  padding: {
    bottom: 99 / $unit * $symbol;
  }
  &-header {
    position: relative;
    @include center();
    width: 100%;
    height: 147 / $unit * $symbol;
    padding: {
      top: 54 / $unit * $symbol;
    }
    background-color: #508dff;
    i {
      position: absolute;
      right: 30 / $unit * $symbol;
      bottom: 30 / $unit * $symbol;
      z-index: 9;
    }
  }
  &-content {
    flex: 1;
    width: 100%;
    background-color: #fff;
    overflow: auto;
    .content-search {
      @include vertical_center();
      width: 100%;
      height: 99 / $unit * $symbol;
      padding: {
        left: 30 / $unit * $symbol;
        right: 30 / $unit * $symbol;
      }
      background-color: #f0f0f0;
      .search-content {
        @include center();
        width: 100%;
        height: 72 / $unit * $symbol;
        background-color: #fff;
        border-radius: 6 / $unit * $symbol;
        color: #555555;
        i {
          margin: {
            right: 9 / $unit * $symbol;
          }
        }
      }
    }
    .content-list {
      width: 100%;
      .list-item {
        @include vertical_center_horizontal_between();
        width: 100%;
        height: 129 / $unit * $symbol;
        .detail-portrait {
          width: 87 / $unit * $symbol;
          height: 87 / $unit * $symbol;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .detail-message {
          flex-grow: 1;
          div {
            width: 100%;
          }
          .message-title {
            @include vertical_center_horizontal_between();
            height: 51 / $unit * $symbol;
            p:first-of-type {
              @include vertical_center();
              height: 100%;
              .icon {
                width: 30 / $unit * $symbol;
                height: 30 / $unit * $symbol;
                margin: {
                  left: 9 / $unit * $symbol;
                }
              }
            }
          }
        }
      }
    }
  }
}